USE [SANTANDER-TP]
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 7/9/2025 20:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA](
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[FECHA_NACIMIENTO] [date] NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[CONTRASENA] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CUENTA_GET_BY_USER_PASSWORD]    Script Date: 7/9/2025 20:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CUENTA_GET_BY_USER_PASSWORD]
    @usu  VARCHAR(50),
    @pass VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
    CUENTA.NOMBRE,
    CUENTA.APELLIDO,
    CUENTA.FECHA_NACIMIENTO,
    CUENTA.USUARIO,
    CUENTA.CONTRASENA

    FROM dbo.CUENTA
    WHERE USUARIO = @usu
      AND CONTRASENA = @pass;
END
GO
/****** Object:  StoredProcedure [dbo].[CUENTA_LOGIN]    Script Date: 7/9/2025 20:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CUENTA_LOGIN]
    @usu  VARCHAR(50),
    @pass VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*)
    FROM dbo.CUENTA
    WHERE USUARIO = @usu
      AND CONTRASENA = @pass;
END
GO
USE [master]
GO
